<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" href="../../styles/reset.css" />
    <link rel="stylesheet" href="../../styles/base.css" />
</head>
<body>
    <%- include('../layout/navbar.ejs') %>

    <h1>Book Details</h1>
    <main>
        <%- include('./detail.ejs', {book:book}) %>

        <%- include('./update.ejs', {book:book}) %>

          <button><a href="/">Home</a></button>

    </main>
</body>
</html>
