<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
</head>
<body>
    <h1>Error! Error! Danger, Will Robinson!</h1>

    <ul>
        <!-- <% books.forEach(result => { %>
            <img src="<%= result.thumbnail_url %>" />
            <li><%= result.title %></li>
            <li><%= result.description %></li>
        <% }) %> -->
    </ul>
</body>
</html>
