@import 'icons.css';
@import 'layout.css';
@import 'modules.css';

* {
    background-color: aquamarine;
    font-family: cursive;
}    

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h4 {
    border: 1px solid red;
}

a {
    border: 1px solid blue;
}

/* description {
    overflow: scroll;
} */
